.SelectedApp{
    width: 500px;    
    margin: 0 auto;
    border: 1px solid #dedede;
    border-radius: 4px;
}
.selected-title{
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    text-align: left;
    font-size: 16px;
    background: #fafafa;
    border-bottom: 1px solid #dedede;
}
.selectedBlock{
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
}
.selected-container{
    padding: 10px;
}
.selected-content{
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    border: 1px solid #dedede;
}
.selectedBlock .selected-content{
    height: 100px;
}
.selectedList .selected-content{
    height: 200px;
}
.seleced-item{
    width: 70px;
    height: 30px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}